// fonts
$ff-heading: 'Big Shoulders Display', cursive;
$ff-logo: 'Mansalva', cursive;
$ff-common: 'Montserrat', sans-serif;

// colors
$text: #292929;
$light-grey: #9c9c9c;
$green: #03d303;
$blue: #15a8fd;